	body {
		font: 10px sans-serif;
	}
	
	div#main {
		width: 1350px;
		height: 600px;
	}

	#project-title {
		margin: 5 auto;
		
	}

	.axis path,
	.axis line {
		fill: none;
		stroke: #000;
		shape-rendering: crispEdges;
	}

	.bar {
		fill: steelblue;
	}

	.x.axis path {

	}
	
	.brush .extent {
		stroke: #fff;
		fill-opacity: .125;
		shape-rendering: crispEdges;
	}
	
	.controls {
		border: 1px solid #cacaca;
		height: 298px; /* matching the context view*/
		padding: 5px 10px;
		background-color: #c7c7c7;
		color: #636363;
		margin-bottom: 5px;
	}
	
	#counter {

	}
	
	.left-sidebar {
		float: left;
	}
	
	.context {
		background-color: #cacaca;;
		margin: 0 5px 5px 0;
	}
	
	.right-sidebar {
		float: right;
	}
	
	.focus {
		clear: both;
		background-color: #cacaca;
		margin: 0 5px 10px 0;
	}
	
	.focus-bar {
		cursor: pointer;
	}
	
	.states {
		background-color: #cacaca;
		margin: 0 5px 10px 0;
		padding-left: 10px;
	}
	
	.details {
		width: 251px; /*Matching the width of the controls area*/
		height: 480px;
		background-color: #CCCCCC;
		margin: 0 0 10px 0;
		padding: 10px;
	}
	
	.context-bar {
	
	}
	
	.context-bar .rect1 {
		fill: #E6550D;
	}
	
	.context-bar .rect2 {
		fill: #FDAE6B;
	}
	
	.context-bar .rect3 {
		fill: #FEE6CE;
	}
	
	.context-bar .unfilter {
		fill: #aaa;
	}
	
	.focus-bar {
		fill: #E6550D;
	}
	
	#sort-by {
		margin: 10px 5px;
	}
	
	#axis-control {
		margin: 10px 5px;
	}
	
	div.filter {
		margin: 10px 5px;
	}
	
	.legend {
		position: absolute;
		top: 10px;
		left: 900px;
	}
	
	div.filter .filter-label {
		font-weight: bold;
	}
	
	.selected {
		fill: red;
	}
	
	#debt-range-slider, #coa-range-slider, #size-range-slider {
		margin: 6px 0px;
	}
	
	
	#states path {
		cursor: pointer;
	  fill: #969696;
	  stroke: #fff;
	  stroke-width: 1.5px;
	}
	
  .clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    }

.clearfix {display: inline-block;}  /* for IE/Mac */